#### Q1. What is a database? Differentiate between SQL and NoSQL databases.


    Database is an organized collection of data that can be easily accessed, managed and updated.
    Databases are used to store and manage data for various applications such as website, mobile application and enterprise system.

            Differentiate between SQL and NoSQL databases.

SQL database also known as relational databases use structured query language(SQL) to manage and manipulate data.
SQL databases store data in tables with rows and columns, and these tables are related to each other by common fields or keys.
Example:- Microsoft SQL Server, Oracle and MySQL.

NoSQL database, on other hand, do not use SQL for data management insted to NoSQL database use a variety of data models such as document oriented, key-value, or graph to store data.
For Example:- MongoDB, Cassandra and Redis.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, and it is a set of SQL commands used to define and manipulate the structure of database objects such as tables, indexes, and views. DDL commands allow database administrators and developers to create, modify, and delete database objects.

CREATE: The CREATE command is used to create a new database object, such as a table or an index. For example, the following SQL statement creates a new table called "customers" with columns for customer ID, name, and email:
CREATE TABLE customers (
  name VARCHAR(50),
  email VARCHAR(50)
);

DROP: The DROP command is used to delete a database object, such as a table or an index. For example, the following SQL statement drops the "customers" table:
DROP TABLE customers;

ALTER: The ALTER command is used to modify the structure of a database object. For example, the following SQL statement adds a new column called "phone" to the "customers" table:
ALTER TABLE customers ADD COLUMN phone VARCHAR(20);

TRUNCATE: The TRUNCATE command is used to remove all data from a table, but the table structure remains intact. This command is often used to quickly clear the data from a table without dropping and recreating it. For example, the following SQL statement truncates the "customers" table:
TRUNCATE TABLE customers;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, and it is a set of SQL commands used to insert, update, and delete data in a database. DML commands allow database administrators and developers to manipulate the data stored in database objects such as tables, views, and indexes.

INSERT: The INSERT command is used to add new rows of data to a table. For example, the following SQL statement inserts a new record into the "customers" table with values for the customer ID, name, and email columns:
INSERT INTO customers (id, name, email)
VALUES (1, 'John Doe', 'john.doe@example.com');

UPDATE: The UPDATE command is used to modify existing data in a table. For example, the following SQL statement updates the email address for the customer with ID 1 in the "customers" table:
UPDATE customers
SET email = 'johndoe@example.com'
WHERE id = 1;

DELETE: The DELETE command is used to remove one or more rows of data from a table. For example, the following SQL statement deletes the record for the customer with ID 1 from the "customers" table:
DELETE FROM customers
WHERE id = 1;

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is a set of SQL commands used to retrieve data from a database. DQL commands allow database administrators and developers to extract information from database objects such as tables, views, and indexes.

SELECT: The SELECT command is used to retrieve data from one or more tables. The SELECT command allows you to specify which columns you want to retrieve and which conditions you want to filter the data by.
For Example:- SELECT * FROM customers;

### Q5. Explain Primary Key and Foreign Key.

A primary key is a unique identifier for a row in a database table. It is a column or a combination of columns that uniquely identifies each record in a table. A primary key is used to enforce data integrity and ensure that each row in a table is unique. Primary keys are essential for database normalization and are often used as the basis for defining relationships between tables.CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(50)
);

CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(50)
);

A foreign key is a column or a combination of columns that references the primary key of another table. It is used to define a relationship between two tables and enforce referential integrity. A foreign key constraint ensures that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table.

CREATE TABLE orders (
  id INT PRIMARY KEY,
  customer_id INT,
  order_date DATE,
  FOREIGN KEY (customer_id) REFERENCES customers(id)
);

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("select * from test2.test_table")
for i in mycursor.fetchall():
    print(i)
mydb.commit()
mydb.close()

we create a cursor object using the cursor() method of the connection object. The cursor object is used to execute SQL queries and fetch the results.

We then execute a simple SQL query using the execute() method of the cursor object. The execute() method takes a SQL query as an argument and executes it on the database.

### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM: The FROM clause specifies the tables or views from which the data will be retrieved.

JOIN: If the query involves a join operation, the join is performed next. Join clauses combine rows from two or more tables based on a related column between them.

WHERE: The WHERE clause filters the rows returned by the query based on a specified condition or set of conditions.

GROUP BY: The GROUP BY clause groups the rows returned by the query based on one or more columns. Aggregate functions such as COUNT, SUM, AVG, MAX, and MIN can then be applied to each group.

HAVING: The HAVING clause filters the groups returned by the GROUP BY clause based on a specified condition or set of conditions.

SELECT: The SELECT clause selects the columns to be included in the result set.

DISTINCT: The DISTINCT keyword eliminates duplicate rows from the result set.

ORDER BY: The ORDER BY clause sorts the rows in the result set based on one or more columns.

LIMIT: The LIMIT clause limits the number of rows returned by the query to a specified number.