### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a popular document-oriented NoSQL database that is designed to provide high performance, scalability, and flexibility. MongoDB stores data in flexible, semi-structured BSON format (Binary JSON) that allows for fast and efficient querying and indexing.

Non-relational databases (also called NoSQL databases) are databases that do not follow the traditional tabular structure of relational databases. Instead of storing data in tables with fixed schemas, NoSQL databases use flexible data models, such as key-value pairs, document-oriented, column-family, and graph databases, to store data in a way that is optimized for specific use cases. Non-relational databases can handle large volumes of unstructured or semi-structured data and can be more horizontally scalable than relational databases, making them a good fit for modern web and mobile applications that need to handle big data and high traffic.

MongoDB is often preferred over SQL databases in scenarios where:

The data is unstructured or semi-structured, or has dynamic schema requirements, making it difficult to store in a traditional relational database.

The application requires high availability and scalability, with the ability to easily add or remove nodes to handle changing traffic and data volumes.

The application needs to process large volumes of data quickly, with the ability to perform complex queries and analytics in real-time.

The development team prefers a flexible, agile development process, with the ability to quickly prototype and iterate on new features and data models.

Some common use cases for MongoDB include e-commerce applications, content management systems, real-time analytics, IoT (Internet of Things), and mobile applications.

However, it's worth noting that the choice of database technology ultimately depends on the specific needs and constraints of the application, and both SQL and NoSQL databases have their own strengths and weaknesses. It's important to carefully evaluate the trade-offs of each technology and choose the one that best fits the requirements of your application.

### Q2. State and Explain the features of MongoDB.

MongoDB is a popular NoSQL document-oriented database that offers several key features that make it a popular choice for modern web and mobile applications.

Some of the key features of MongoDB include:

Dynamic schema: MongoDB allows for flexible, dynamic schemas that can handle changing data structures and evolving data models, making it a good fit for applications with varying data requirements.

High scalability: MongoDB is designed to scale horizontally, with the ability to add or remove nodes as needed to handle changing data volumes and traffic.

High availability: MongoDB supports replica sets and sharding, which provides automatic failover and redundancy to ensure high availability and uptime.

Rich querying and indexing: MongoDB offers powerful querying and indexing capabilities, including support for complex queries, full-text search, and geospatial queries.

Flexible data modeling: MongoDB supports a variety of data modeling approaches, including key-value, document-oriented, and graph-based data models, making it a versatile choice for many different types of applications.

Easy integration: MongoDB integrates easily with a wide range of programming languages and development frameworks, making it easy to use with existing technologies.

Support for transactions: MongoDB 4.0 and later versions support multi-document transactions, allowing developers to perform atomic operations across multiple documents in a transactional manner.

Security features: MongoDB offers a number of security features, including role-based access control, encryption at rest, and TLS/SSL encryption for secure data transfer.

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
#pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 18.4 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 40.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Code to connect MongoDB to Python.
import pymongo

client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.kanzhfj.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
db

Database(MongoClient(host=['ac-q5n6wlm-shard-00-00.kanzhfj.mongodb.net:27017', 'ac-q5n6wlm-shard-00-02.kanzhfj.mongodb.net:27017', 'ac-q5n6wlm-shard-00-01.kanzhfj.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-tvu0ez-shard-0', tls=True), 'test')

In [5]:
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.kanzhfj.mongodb.net/?retryWrites=true&w=majority")

In [6]:
# create database.
db = client['pwskills']

In [9]:
# Create collection.
coll_pwskills=db["recoed"]

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [10]:
# Single data insert into collection.
data={"name" : "tushar" ,
      "class" : "data science masters" ,
      "time" : "flexi"}

In [11]:
coll_pwskills.insert_one(data)

In [12]:
#Multiple data insert into collection.
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [13]:
coll_pwskills.insert_many(data2)

In [14]:
# fetch only single record.
coll_pwskills.find_one()

{'_id': ObjectId('640b1e88d10db54e30eaac8c'),
 'name': 'tushar',
 'class': 'data science masters',
 'time': 'flexi'}

In [15]:
# fetch multiple records.
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('640b1e88d10db54e30eaac8c'), 'name': 'tushar', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('640b1ef7d10db54e30eaac8d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640b1ef7d10db54e30eaac8e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640b1ef7d10db54e30eaac8f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640b1ef7d10db54e30eaac90'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640b1ef7d10db54e30eaac91'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640b1ef7d10db54e30eaac92'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640b1ef7d10db54e30eaac93'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640b1ef7d10db54e30eaac94'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640b1ef7d10db54e30eaac95'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640b1ef7d10db54e30eaac96'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640b1ef7d10db54e30eaac97'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640b1ef7d10db54e30eaac98'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

The find() method in MongoDB is used to query a collection and retrieve documents that match a specified set of criteria. It can accept one or more query parameters and returns a cursor object that can be iterated over to access the matching documents.

In [16]:
# fetch multiple records.
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('640b1e88d10db54e30eaac8c'), 'name': 'tushar', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('640b1ef7d10db54e30eaac8d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640b1ef7d10db54e30eaac8e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640b1ef7d10db54e30eaac8f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640b1ef7d10db54e30eaac90'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640b1ef7d10db54e30eaac91'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640b1ef7d10db54e30eaac92'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640b1ef7d10db54e30eaac93'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640b1ef7d10db54e30eaac94'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640b1ef7d10db54e30eaac95'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640b1ef7d10db54e30eaac96'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640b1ef7d10db54e30eaac97'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640b1ef7d10db54e30eaac98'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method in MongoDB is used to sort the documents in a collection based on one or more criteria. It can be used in conjunction with the find() method to sort the returned documents in ascending or descending order.

The sort() method takes a parameter that is a list of tuples, where each tuple specifies a field to sort on and the order of the sort (1 for ascending, -1 for descending).

In [26]:
mysort=coll_pwskills.find().sort([("name",1)])

In [27]:
for i in mysort:
    print(i)

{'_id': ObjectId('640b1ef7d10db54e30eaac8d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640b1ef7d10db54e30eaac95'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640b1ef7d10db54e30eaac91'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640b1ef7d10db54e30eaac97'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640b1ef7d10db54e30eaac8e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640b1ef7d10db54e30eaac8f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640b1ef7d10db54e30eaac92'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640b1ef7d10db54e30eaac90'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640b1ef7d10db54e30eaac93'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640b1ef7d10db54e30eaac94'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640b1ef7d10db54e30eaac98'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('640b1ef7d10db54e30eaac96'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640b1e88d10db54e30eaac8c'), 'name': 'tushar', 'class': 'data science masters', 'time': 'flexi'}

In [36]:
# Sort the collection by name in ascending order and address in descending order
mydocs = coll_pwskills.find().sort([("name", 1), ("address", -1)])

In [37]:
for i in mydocs:
    print(i)

{'_id': ObjectId('640b1ef7d10db54e30eaac8d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640b1ef7d10db54e30eaac95'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640b1ef7d10db54e30eaac91'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640b1ef7d10db54e30eaac97'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640b1ef7d10db54e30eaac8e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640b1ef7d10db54e30eaac8f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640b1ef7d10db54e30eaac92'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640b1ef7d10db54e30eaac90'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640b1ef7d10db54e30eaac93'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640b1ef7d10db54e30eaac94'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640b1ef7d10db54e30eaac98'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('640b1ef7d10db54e30eaac96'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640b1e88d10db54e30eaac8c'), 'name': 'tushar', 'class': 'data science masters', 'time': 'flexi'}

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In MongoDB, the delete_one() and delete_many() methods are used to remove one or multiple documents from a collection, respectively. The drop() method is used to delete an entire collection.

delete_one(filter) - Use this method when you want to delete a single document from a collection based on a specific filter. For example, you might use this method to delete a single name from a record collection based on their address.

In [38]:
# coll_pwskills.delete_one({"_id": ObjectId("123abc")})

delete_many(filter) - Use this method when you want to delete multiple documents from a collection based on a specific filter. For example, you might use this method to delete all record from a record collection who live in a specific address.

In [ ]:
#coll_pwskills.delete_many({"status": "inactive"})

drop() - Use this method when you want to delete an entire collection, including all of its documents and indexes. For example, you might use this method when you no longer need a collection and want to remove it from your database.

In [ ]:
# coll_pwskills.drop()